h2{
  text-align: center;
}
#inputList {
  width: 500px;
  height: 44px;
  text-align: center;
}
#addList {
  width: 70px;
  height: 50px;
  background-color: rgb(137, 224, 115);
  font-size: 1em;
  font-style: initial;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
ul li{
  cursor:pointer;
  position:relative;
  padding:10px 10px 10px 10px;
  background: rgb(235, 250, 255);
  font-size:18px;
  transition: 0.2s;
}
ul li:hover {
  background-color:rgb(213, 255, 203);
}
.delToDo {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 15px;
  margin: 0px -150px;
  border: none;
  /* background-color: rgb(116, 116, 116); */
  background-image: url(./images/delete.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.delToDo:hover{
  background-position-y: 4px;
}
.modifyToDo{
  position: absolute;
  right: initial;
  right: 0;
  top: 0;
  padding: 15px 15px;
  margin: 0px -120px;
  border: none;
  background-image: url(./images/edit.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.modifyToDo:hover{
  background-position-y: 4px;
}
.checkIcon{
  position: absolute;
  right: initial;
  top: 0;
  padding: 20px 15px;
  margin: 5px 5px 5px 5px;
  border: none;
  background-image: url(./images/check.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.addTime{
  font-size: 0.6em;
  color: gray;
  vertical-align: bottom;
}
.todoList{
  font-size: 1em;
  font-weight: bolder;
  padding: 10px 5px 10px 40px;
}

input[type="checkbox"]{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input[type="checkbox"]:hover + label:before{
  border-color: #999;
}
input[type="checkbox"]:active + label:before{
  transition-duration: 0;
  filter: brightness(0.2);
}
input[type="checkbox"] + label{
  position: relative;
  padding-left: 26px;
  font-weight: normal;
}
input[type="checkbox"] + label:before, 
input[type="checkbox"] + label:after{
  box-sizing: content-box;
  position: absolute;
  content: '';
  display: block;
  left: 0;
}
input[type="checkbox"] + label:before{
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  border: 2px solid #d9d9d9;
  text-align: center;
}
input[type="checkbox"] + label:after{
  background-color: #00bad2;
  top: 50%;
  left: 6px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}
input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 5px;
  width: 7px;
  height: 4px;
  margin-top: -5px;
  border-style: solid;
  border-color: #00bad2;
  border-width: 0 0 3px 3px;
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
input[type="checkbox"]:checked + label:before {
  -moz-animation: borderscale 200ms ease-in;
  -webkit-animation: borderscale 200ms ease-in;
  animation: borderscale 200ms ease-in;
}
input[type="checkbox"]:checked + label:after {
  content: '';
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  -moz-transition: -moz-transform 200ms ease-out;
  -o-transition: -o-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
}