h2{
  text-align: center;
}
#inputList {
  width: 500px;
  height: 44px;
  text-align: center;
}
#addList {
  width: 70px;
  height: 50px;
  background-color: rgb(137, 224, 115);
  font-size: 1em;
  font-style: initial;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
ul li{
  cursor:pointer;
  position:relative;
  padding:10px 10px 10px 10px;
  background: rgb(235, 250, 255);
  font-size:18px;
  transition: 0.2s;
}
ul li:hover {
  background-color:rgb(213, 255, 203);
}
.delToDo {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 15px;
  margin: 5px 5px 5px 5px;
  border: none;
  /* background-color: rgb(116, 116, 116); */
  background-image: url(./images/delete.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.delToDo:hover{
  background-position-y: 4px;
}
.modifyToDo{
  position: absolute;
  right: initial;
  right: 0;
  top: 0;
  padding: 15px 15px;
  margin: 5px 40px 5px 5px;
  border: none;
  background-image: url(./images/edit.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.modifyToDo:hover{
  background-position-y: 4px;
}
.checkIcon{
  position: absolute;
  right: initial;
  top: 0;
  padding: 20px 15px;
  margin: 5px 5px 5px 5px;
  border: none;
  background-image: url(./images/check.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.addTime{
  font-size: 0.6em;
  color: gray;
  vertical-align: bottom;
}
.todoList{
  font-size: 1em;
  font-weight: bolder;
  padding: 10px 5px 10px 40px;
}
input[id="cb1"] + label{
  margin: 2px 2px 2px 2px;
  display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}
input[id="cb1"]:checked + label {
	background-color: #666666;
}
input[id="cb1"] {
	display: none;
}